<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
    <h2>Rock Paper Scissors outcome predictor, made with Keras, Tensorflow</h2>
    <form method='post'>
        <label for="player1">Your choice:</label>
        <select name="player1" id="player1" required>
            <option value="" selected disabled hidden>--Please choose an option--</option>
            <option value="rock">rock</option>
            <option value="paper">paper</option>
            <option value="Scissors">scissors</option>
        </select>
        <label for="player2">Opponent's choice:</label>
        <select name="player2" id="player2" required>
            <option value="" selected disabled hidden>--Please choose an option--</option>
            <option value="rock">rock</option>
            <option value="paper">paper</option>
            <option value="Scissors">scissors</option>
        </select>
        <input type='submit' />
    </form>
    <h3>{{ result }}</h3>
</body>

</html>
